@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --font-corinthia: "Corinthia", sans-serif;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility hero-img {
  contain: layout paint style;
  will-change: clip-path;
  backface-visibility: hidden;
  transform: translateZ(0);
}

@layer components {
  .hero-content {
    @apply flex items-center justify-center w-screen absolute z-10;

    p {
      @apply text-white/90 font-semibold text-[14px] max-lg:hidden;
    }
  }
}