@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #d7b468;
  --font-corinthia: "Corinthia", sans-serif;
}

@utility chrome-smooth {
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  p {
    @apply font-semibold text-[14px];
  }
}


@layer components {
  .hero-img {
    @apply contain-[layout_paint_style] will-change-[clip-path] backface-hidden translate-z-0;
  }
  .hero-content {
    @apply flex items-center justify-center w-screen absolute z-10;

    p {
      @apply text-white/90 max-lg:hidden;
    }
  }
  .navbar {
    @apply w-screen py-6 px-5 absolute z-10 max-sm:hidden;
  }
}