@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #d7b468;
  --font-corinthia: "Corinthia", sans-serif;
}

@utility chrome-smooth {
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
  .navbar {
    @apply w-screen py-6 px-5 max-sm:hidden;
  }
  .services {
    @apply flex-center h-screen w-screen px-6 relative overflow-hidden;

    .service-title {
      @apply text-center text-primary text-lg sm:text-2xl md:text-3xl z-100;
    }

    .floating-image {
      @apply abs-center w-[80px] h-[120px] md:w-[130px] md:h-[180px] z-10 pointer-events-none will-change-transform;
    }
  }
  .testimonials {
    @apply px-2 py-10 sm:px-15 md:py-25 lg:px-20 xl:px-30 2xl:px-50;

    .flower {
      @apply w-[40%] h-auto hidden lg:block -z-50 top-[10%] right-5;
    }
  }
  .sub-title {
    @apply font-corinthia text-primary text-6xl text-center mb-5;
  }

  .transportation {
    @apply my-5 md:my-20 col-center;

    .map {
      @apply col-span-2 w-full h-full min-h-80 rounded-xl shadow-xl;
    }

    .bus {
      @apply flex items-center gap-2 bg-white rounded-lg shadow-sm hover:bg-gray-100 transition-colors;
    }
    
    .flower {
      @apply -z-50 absolute hidden lg:block -left-[18%] -top-[36%];
    }
  }

  .footer {
    @apply w-screen h-auto bg-primary text-white px-10 pt-20 pb-5 md:px-25 lg:px-50 lg:pt-20;
  }
}